sudo: false
language: node_js
node_js:
  - '4'
  - '6'
  - '8'
  - '9'
  - '10'
before_install:
  - if [[ "`node --version`" = v4* ]]; then
      npm install npm@latest-5 -g;
    else
      npm install npm@latest -g;
    fi
  - npm --version
before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
script:
  - node --version
  - npm run travis
